@mixin border-radius($value)
{
    border-top-left-radius: $value;
    border-top-right-radius: $value;
    border-bottom-right-radius: $value;
    border-bottom-left-radius: $value;
}

body
{
    background-color: #00334e;
}

.logos
{
    background-color: azure;
    top: 0;
    height: 20vh;
    padding: 2% 5%;
    @include border-radius(5px);
    .logo
    {
        height: 100%;
        width: 20%;
        display: inline-block;
    }
    .logo:first-child
    {
        float: left;
    }
    .logo:last-child
    {
        float: right;
    }
}

.page
{
    width: 80%;
    height: 100vh;
    margin-top: 2%;
    margin: 2% auto;
}

.navbar
{
    display: flex;
    justify-content: center;
    ul
    {
        background-color: #145374;
        width: 100%;
        li
        {
            display: inline-block;
            margin: 2%;
            font-size: large;
            a
            {
                color: azure;
                text-decoration: none;
            }
            a:hover
            {
                animation: transform-anim 0.5s;
            }

            .dropdown-menu
            {
                background-color: #145374;

                .dropdown-item
                {
                    color: azure;
                }

                .dropdown-item:hover
                {
                    background-color: transparent;
                    animation: transform-anim 0.5s;
                }
            }

            .navright
            {
                margin-right: 0;
            }
        }
    }
}

.card
{
    background-color: azure;
    .card-body
    {
        ul
        {
            width: 100%;
            text-align: center;
            li
            {
                text-align: left;
                width: 45%;
                display: inline-block;
                label
                {
                    font-size: large;
                    font-weight: bold;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
                input
                {
                    display: block;
                    width: 90%;
                    height: 2rem;
                    border-style: solid;
                    border-width: 1.5px;
                    @include border-radius(5px);
                }
                select
                {
                    width: 90%;
                    display: block;
                    height: 2rem;
                    border-style: solid;
                    border-color: black;
                    border-width: 1.5px;
                    @include border-radius(5px);
                }
            }
        }
    }
    .card-footer
    {
        text-align: center;
        button
        {
            @include border-radius(5px);
            width: 25%;
        }
        button:hover
        {
            animation: button-transform-anim 0.5s;
        }
    }
    
}

.listacad
{
    h1
    {
        color: white;
        padding: 2%;
    }
    #number
    {
        color: white;
    }
    background-color: #145374;
    text-align: center;
    li
    {
        margin-top: 3%;
        list-style-type: none;

        .card
        {
            transition-property: 'background';
            transition-duration: 0.5s;
            transition-timing-function: linear;

            .card-body
            {
                text-align: left;
            }

            .col-md-2
            {
                button
                {
                    visibility: hidden;
                }
            
            }
        }
        .card:hover
        {
            background-color: #ee6f57;
            .col-md-2
            {
                button
                {
                    visibility: visible;
                    height: 100%;
                    width: 100%;
                    border-style: none;
                    background-color: transparent;
                    transition-property: 'background';
                    transition-duration: 0.5s;
                    transition-timing-function: linear;
                }

                button:hover
                {
                    background-color: azure;
                }
               
            }
        }

    }
}

footer
{
    background-color: black;
    text-align: center;
    color: azure;
    a
    {
        color: azure;
        text-decoration: none;
        display: inline;
        padding: 10%;
    }
    a:hover
    {
        animation: transform-anim 0.5s;
        text-decoration: none;
    }

}
@keyframes transform-anim
{
    to
    {
        color: #ee6f57;
    }
}

@keyframes button-transform-anim
{
    to
    {
        background-color: #ee6f57;
        color: azure;
    }
}


@media only screen and (max-width: 1080px)
{
    .page
    {
        width: 100%;
        margin: 0;

        .logos
        {
            height: 10vh;
            border-radius: 0;
            img
            {
                width: 30%;
            }
        }

        .navbar
        {
            .navbar-toggler
            {
                color: azure;
                text-align: center;
            }
            .collapse
            {
                ul
                {
                    width: 100%;
                    li
                    {
                        width: 100%;
                        display: inline-block;
                        list-style-type: none;
                    }
                }
            }
        }

        .card
        {
            .card-header
            {
                text-align: center;
            }
            .card-body
            {
                ul
                {
                    width: 100%;
                    li
                    {
                        width: 100%;
                        display: block;
                        label
                        {
                            font-size: small;
                        }
                    }
                }
                .card-footer
                {
                    button
                    {
                        width: 70%;
                    }
                }
            }
        }

        .listacad
        {
            ul
            {
                .row
                {

                    .card
                    {
                        .col-md-4
                        {
                            height: fit-content;
                            .card-img
                            {
                               height: 30vh; 
                            }
                        }
                    }
                    width: 100%;
                    li
                    {
                        height: 100%;
                    }
                }
                
            }
        }
    }
    
}